# The releng team is by default the owner of everything.
*             @eclipse-keypop/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @eclipse-keypop/eclipsefdn-security @eclipse-keypop/eclipsefdn-releng
